@page "/"

@inject HttpClient Http
@inject ActivePageService ActivePageService
<PageTitle>Home</PageTitle>

<h1>Hello, world! My name Golub Vlad Im .NET Sowtware Developer</h1>
<p>Hello, my name is Golub Vladislav. I'm a <strong>.NET Software Developer</strong>, and my preferred test task is a Blazor WebAssembly app for managing sales order data</p>

<p>It includes interface validations, DTO, and implements CRUD (Create, Read, Update, and Delete) functionality for orders, windows, and items. On the backend side, <em>Entity Framework</em> is used to access the data, there is data logging</p>


<h3>My Links</h3>
<ul>
    <li>
        <strong>GitHub:</strong>
        <a href="https://github.com/ProgressiveKid" target="_blank">
            <img src="https://img.shields.io/badge/GitHub-ProgressiveKid-blue?style=flat-square&logo=github" alt="GitHub" />
        </a>
    </li>
    <li>
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/golubvlad" target="_blank">
            <img src="https://img.shields.io/badge/LinkedIn-GolubVlad-blue?style=flat-square&logo=linkedin" alt="LinkedIn" />
        </a>
    </li>
    <li>
        <strong>Email:</strong> jostonn@mail.ru
    </li>
</ul>



@code
{
    protected override async Task OnInitializedAsync()
    {
        ActivePageService.ActivePage = "/";
        StateHasChanged();
    }

}
