@page "/"

@inject HttpClient Http
@inject ActivePageService ActivePageService
<PageTitle>Home</PageTitle>

<h1>Hello, world! My name Golub Vlad Im .NET Sowtware Developer</h1>
<h3>Description</h3>
<h3>my links</h3>
<h3>Video Obzor App</h3>

@code
{
    protected override async Task OnInitializedAsync()
    {
        ActivePageService.ActivePage = "/";
        StateHasChanged();
    }

}
