@page "/"

@inject HttpClient Http
@inject ActivePageService ActivePageService
<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.
<!-- Пример использования компонента Bootstrap в Blazor-странице -->

<SurveyPrompt Title="How is Blazor working for you?" />
@code
{
    protected override async Task OnInitializedAsync()
    {
        ActivePageService.ActivePage = "/";
        StateHasChanged();
    }

}
