@inherits LayoutComponentBase
@inject ActivePageService ActivePageService
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main style="display: flex; flex-direction: column;">

        <article class="content px-4">
            @Body
        </article>
    </main>

</div>
